body { 
    font-family: 'Plus Jakarta Sans', sans-serif; 
}

.glass { 
    background: rgba(255, 255, 255, 0.7); 
    backdrop-filter: blur(10px); 
}

/* Custom Dropdown Animations */
.dropdown-menu.opacity-0 {
    display: none;
}

.dropdown-menu.opacity-100 {
    display: block;
}
