@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Plus Jakarta Sans', ui-sans-serif, system-ui, sans-serif;
}

body { 
    font-family: 'Plus Jakarta Sans', sans-serif; 
}

.glass { 
    background: rgba(255, 255, 255, 0.7); 
    backdrop-filter: blur(10px); 
}

/* Custom Dropdown Animations */
.dropdown-menu.opacity-0 {
    display: none;
}

.dropdown-menu.opacity-100 {
    display: block;
}

/* Hide number input arrows (spin buttons) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

